/* GLOBAL STYLES */

*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clear {

	clear: both;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

body {
	background-image: url(../img/bg/background.png);
}

.accordion {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.accordion .accordion-open-body {
	display: block;
	border: 2px solid #e8603c;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}

.accordion-header:hover{
	background-color: #e8603c;
	color: #fff;
}
.accordion-header.accordion-open {
	background-color: #e8603c;
	color: #fff;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ms-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
}

.accordion-header {
	font-family: "Bebas Neue", cursive;
	font-weight: 400;
	letter-spacing: .05rem;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    position: relative;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.accordion-header i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion-body {
    display: none;
    padding: 10px;
	font-size: 13px;
    line-height: 18px;
    color: #414141;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
	cursor: pointer;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.popup-image {
	width: 80vh;
	height: auto;
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.instr {
	color: #b9b9b9;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.gallery img{
	width: 180px;
	height: auto;
	outline: #f1f1f1 2px solid;
	cursor: pointer;
}

.gallery img:hover{
	box-shadow: #00000035 0 5px 5px;
	outline: #e8663c 2px solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

html {
	box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  body {
	font-family: "Neue Helvetica", sans-serif;
  }
  
  a {
	color: #b9b9b9;
	display: inline-block;
	text-decoration: none;
  }
  
  ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	display: inline-block;
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0px 10px;
  }
  
  .header {
	background-color: #ffffff;
  }
  
  .header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
  }
  
  #descrptou{
	padding-bottom: 10px;
  }
  .header_logo {
	color: #f3af9d;
	font-size: 50px;
	margin-top: 20px;
  }
  
  .header_logo a span {
	height: 37px;
	background: url(../img/logo-jetro.png) no-repeat;
	overflow: hidden;
  }

  .header_top_outer{
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	z-index: 10;
	background-image: url(../img/bg/background.png);
	
  }

  .add_shadow{
	box-shadow: #4141416b 0 2px 5px;
  }
  
  .header_menu li + li {
	margin-left: 25px;
  }
  
  .header_menu a {
	font-size: 21px;
	font-family: "Bebas Neue", cursive;
	font-weight: 400;
  }
  
  
  .header_menu a:hover{
	  color: #e8603c;
  }
  

 
  .header_menu-btn {
	width: 30px;
	display: none;
	cursor: pointer;
  }
  
  .header_menu-row {
	width: 100%;
	background-color: #e8603c;
	height: 4px;
	margin-bottom: 4px;
  }
  
  .slider {
	position: relative;
	margin-top: 80px;
  }
  
  .slider_inner {
	background-color: #ffffff;
	max-width: 980px;
	z-index: 1;
}
  
  .slider_item {
	position: relative;
	background-color: #e8603c;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
  }
  
  .slider_item img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  border-radius: 10px;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  -ms-border-radius: 10px;
	  -o-border-radius: 10px
}
  
  .slider-first {
	 background-image: url(../img/slidr/slider-image.jpg); 

	}
  
  .slider-second {
	background-image: url(../img/slidr/slider-2.jpg);
  }
  
  .slider-third {
	background-image: url(../img/slidr/slider-3.jpg);
  }
  
  .slider-four {
	background-image: url(../img/slidr/slider-4.jpg);
  }
  
  .slider-fifth {
	background-image: url(../img/slidr/slider-5.jpg);
  }
  
  .slider-six {
	background-image: url(../img/slidr/slider-6.jpg);
  }
/* icons */
  .slider-first-icon {
	background-image: url(../img/thumbnail-01.jpg); 

   }
 
 .slider-second-icon {
   background-image: url(../img/thumbnail-02.jpg);
 }
 
 .slider-third-icon {
   background-image: url(../img/thumbnail-03.jpg);
 }
 
 .slider-four-icon {
   background-image: url(../img/thumbnail-04.jpg);
 }
 
 .slider-fifth-icon {
   background-image: url(../img/thumbnail-05.jpg);
 }
 
 .slider-six-icon {
   background-image: url(../img/thumbnail-06.jpg);
 }
  
  .slider_item {
	min-height: 400px;
  }
  
  .slider_info {
	color: #ffffff;
	position: absolute;
	width: 412px;
	min-height: 125px;
	bottom: 32px;
	left: 36px;
	padding: 22px 29px 22px 19px;
	background-color: rgba(232, 102, 60, 0.8);
  }
  
  .slider_title {
	font-family: "Bebas Neue", cursive;
	font-size: 18px;
	margin-bottom: 20px;
  }
  
  .slider_text {
	font-family: "Neue Helvetica", sans-serif;
	font-size: 12px;
  }
  
  .slick-prev:before,
  .slick-next:before {
	font-size: 0px;
  }
  
  .slick-arrow {
	z-index: 1;
  }
  
  
  .slider_nav {
	margin-top: 16px;
	background-position: top center;
	
  }
  
  .slider_nav-item {
	height: 120px ;
	width: 120px ;
	background-color: #ffffff;

	background-repeat: no-repeat;
	background-position: 100%;

  }

  .slider_nav-item {
	opacity: 0.35;
	cursor: pointer;
  }

  .slick-center .slider_nav-item  {
	opacity: 1;
  }
  
  .slider_nav-item + .slider_nav-item {
	margin-right: 20px;
  }

  .carousely {
	white-space: nowrap;
  }
  
  .carousely img {
	display: inline-block;
	vertical-align: top;
	width: 220px; /* Adjust according to your image size */
  }
  
  .bkgnd, .bkgnd-f {
	box-shadow: #414141 ;
	background-color: #ffffff;
  }
  
  .bkgnd-decor {
	position: absolute;
	width: 100%;
	left: 0;
	height: 60px;
	background-color: #f3af9d;
	z-index: -1;
  }
  
  .content {
	margin-top: 37px;
	margin-bottom: 40px;
  }
  
  .content_inner {
	display: flex;
	justify-content: space-between;
  }
  
  .content_inner-item {
	width: 280px;
  }

  .recent-works-headinglines {
	width: calc(100% - 120px);
	background: url(../img/bg-pattern.png) repeat-x;
	display: inline-block;
	height: 1.125rem;
  }
  
  .item_title {
	position: relative;
	font-family: "Bebas Neue", cursive;
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;
	text-transform: uppercase;
	color: #e8663c;
  
	padding-left: 70px;
	padding-bottom: 30px;
  }
  .item_title::before{
	  position: absolute;
	  content: "";
	left: 0;
  }

  :root {
   --gearAnim: none;
   --tickAnim: none;
   --manAnim: none;
  }

  .icon-gear::before {
	background-image: url(../img/icon-gear.png);
	width: 53px;
	height: 56px;
	animation: var(--gearAnim);
	-webkit-animation: var(--gearAnim);
}


	@keyframes rotateGear {
	0% {
	  transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
}
	100% {
	  transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
}
	}

	@keyframes enlargeTick {
		0% {
			opacity: 0.2;
		  transform: scale(1);
		  -webkit-transform: scale(1);
		  -moz-transform: scale(1);
		  -ms-transform: scale(1);
		  -o-transform: scale(1);
		}
		100% {
			opacity: 1;
		  transform: scale(1.1);
		  -webkit-transform: scale(1.1);
		  -moz-transform: scale(1.1);
		  -ms-transform: scale(1.1);
		  -o-transform: scale(1.1);
		}
	}
	@keyframes slideUp {
		0% {
		opacity: 0;
		  transform: translateY(30%);
		  -webkit-transform: translateY(30%);
		  -moz-transform: translateY(30%);
		  -ms-transform: translateY(30%);
		  -o-transform: translateY(30%);
}
		100% {
			opacity: 1;
		  transform: translateY(0);
		  -webkit-transform: translateY(0);
		  -moz-transform: translateY(0);
		  -ms-transform: translateY(0);
		  -o-transform: translateY(0);
}
	  }
  .icon-tick::before {
	background-image: url(../img/icon-check.png);
	width: 53px;
	height: 56px;
	animation: var(--tickAnim);
	-webkit-animation: var(--tickAnim);
}
  
  .icon-man::before {
	background-image: url(../img/icon-user.png);
	width: 53px;
	height: 56px;
	animation: var(--manAnim);
	-webkit-animation: var(--manAnim);
}
  
  .item_text {
	font-size: 13px;
	line-height: 18px;
	color: #414141;
	margin-bottom: 20px;
  }
  
  .item_link {
	width: 56px;
	height: 31px;
	background-color: #e8663c;
  }
  
  .item_link:hover a {
	color: #f8d3c7;
  }

  .item_link a {
	font-family: "Bebas Neue", cursive;
	color: #ffffff;
	font-size: 17px;
	padding: 8px 16px 10px 14px;
  }
  
  .works {
	margin-bottom: 22px;
  }
  
  .works_upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
  }
  
  .works_upper img {
	height: 20px;
	width: 825px;
  }
  
  .works_title {
	font-family: "Bebas Neue", cursive;
	font-size: 22px;
	color: #e8663c;
  }
  
  .works_bottom {
	display: flex;
	justify-content: space-between;
  }
  
  .works_item {
	width: 220px;
	height: 270px;
	position: relative;
	overflow: hidden;
  }

  .works_item:hover * {
	background-color: #e8663c;
	color: #ffffff;
	cursor: pointer;
  }
  
  .works_item img {
	margin-bottom: -4px;
	object-fit: cover;
  }
  
  .works_item-name {
	font-family: "Bebas Neue", cursive;
	font-weight: 100;
	letter-spacing: 1px;
	padding-top: 16px;
	padding-left: 13px;
	padding-bottom: 13px;
	color: #b9b9b9;
	font-size: 20px;
	border: 1px solid #dbdbdb;
	border-top: none;
  }
  
  .works_item-name span {
	font-size: 16px;
	letter-spacing: 0px;
	display: block;
	font-family: "Bebas Neue", cursive;
	color: #e8663c;
  }
  
  .footer {
	background-color: #f3b29d;
	margin-top: 60px;
  }
  
  .footer_inner {
	color: #ffffff;
	background-color: #e8663c;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	padding: 42px 40px 32px 34px;
  }
  
  .footer-content {
	width: 270px;
  }
  
  .footer_item-title {
	font-family: "Bebas Neue", cursive;
	font-size: 23px;
  
	margin-bottom: 28px;
  }
  
  .footer_item-text {
	margin-bottom: 18px;
  }
  
  .footer-notes {
	width: 225px;
  }
  
  .footer-contact {
	width: 260px;
  }
  
  .footer_item-contact {
	margin-bottom: 20px;
  }
  
  .footer_item-contact span {
	display: block;
	margin-top: 18px;
  }
  
  .autor-note {
	padding-bottom: 10px;
  }
  
  .autor-note span {
	color: #f3b29d;
  }
  
  .time {
	padding-bottom: 24px;
	color: #f3b29d;
  }
  
  .follow-link a {
	color: #f3b29d;
  }

  
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    display: block;
    width: 36px;
    height: 52px;
    padding: 0;
    -webkit-transform: translate(0,-40%);
    -ms-transform: translate(0,-40%);
    transform: translate(0,-40%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    -moz-transform: translate(0,-40%);
    -o-transform: translate(0,-40%);
}


.slick-prev:hover > img,
.slick-next:hover > img {
    filter: invert(49%) sepia(100%) saturate(2474%) hue-rotate(333deg) brightness(100%) contrast(93%);
    -webkit-filter: invert(49%) sepia(100%) saturate(2474%) hue-rotate(333deg) brightness(100%) contrast(93%);
}

.slick-prev:focus,
.slick-next:focus
{
    color: transparent;
    background: transparent;
}

.slick-prev
{
    left: 25px;
}

.slick-next
{
    right: 25px;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


@media(max-width: 1000px){
	.works_title{
		min-width: 120px;

	}
}

@media(max-width: 960px){
	.works_bottom{
		flex-wrap: wrap;
	}

	.works_item{
		position: relative;
		width: 40%;
		margin: 0 auto 40px;
	}

	.works_item img {
		width: 100%;
		height: 204px;

	}

	.works_item-name{
		position: absolute;
		width: 100%;
		top: 200px;
	}
}

@media(max-width: 900px){
	.slider_nav-item{
		width: 100% ;
	}

	.content_inner-item{
		padding-right: 15px;
	}

	.footer-content{
		margin-right: 15px;
	}

	.footer-notes{
		margin-right: 15px;
	}

	.works_upper img {
		overflow: hidden;
	}
	.bkgnd-f {
		background-color: #e8663c;
	}
}

@media(max-width: 830px){
	.content_inner{
		flex-wrap: wrap;

	}

	.content_inner-item{
		padding-right: 0;
		width: 100%;
		margin-bottom: 35px;
		border-bottom: 1px solid #e8663c;
	}
	.item_title{
		display: flex;
		align-items: center;

	}
	.slider_nav-item {
		height: 10vh;
	}
}

@media (max-width: 760px){
	
	.header_menu-btn {
		display: block;
	}

	.header_menu-row{
		transition: transform 0.3s ease;
	}

	.header_menu-btn.active .header_menu-row:nth-child(1) {
		transform: rotate(45deg) translate(0px, 0px);
		-webkit-transform: rotate(45deg) translate(0px, 0px);
		-moz-transform: rotate(45deg) translate(0px, 0px);
		-ms-transform: rotate(45deg) translate(0px, 0px);
		-o-transform: rotate(45deg) translate(0px, 0px);
	}
	
	.header_menu-btn.active .header_menu-row:nth-child(3) {
		transform: rotate(-45deg) translate(6px, -6px); /* Rotate second row */
	}
	
	.header_menu-btn.active .header_menu-row:nth-child(2) {
		display: none; /* Hide third row when active */
	}

	.header_menu > ul {
		display: none;
		text-align: center;
		position: absolute;
		z-index: 2;
		background-color: #ffffff;
		top: 78px;
		margin-left: 0;
		right: 0;
		width: 100%;
		/* border-bottom: 5px solid #e8603c; */
	}
	.header_menu li a{
		width: 100%;
	}

	.header_menu li {
		display: block;
		margin: 0;
		width: 100%;
		padding: 7px;
	}

	.header_menu li:first-child {
		border-top: 2px solid #e7e7e7;
	}
	.header_menu li+li {
		margin-left: 0;
		border-top: 2px solid #e7e7e7;
		
	}

	.header_menu li:last-of-type {
		box-shadow: 0 10px 11px -11px gray;
		border-bottom: #e7e7e7 5px solid;
	}

	.header_menu li:hover  {
		background-color: #e8603c;
	}

	.header_menu li:hover a {
		background-color: #e8603c;
		color: white;
	}

	.header_menu a{
		width: 100%;
	}


}

@media(max-width: 675px) {
	.works_item{
		position: relative;
		width: 220px;
	}

	.works_item img {
		width: 100%;
		height: 188px;

	}

	.works_item-name {
		position: absolute;
		width: 100%;
		top: 184px;
	}

	.footer_inner {
		flex-wrap: wrap;
	}

	.footer_item {
		width: 100%;
		margin-bottom: 25px;
	}


}

@media(max-width: 515px){
	.slider_info{
		width: 100%;
		left: 0;
	}

}

@media(max-width: 500px){
	.slider_info{
		width: 100%;
		left: 0;
		bottom: 0;
	}
}

@media(max-width: 490px){
	.works_item{
		width: 70%;
	}

	.works_item img {
		height: 200px;
		margin: 0 auto 25px;
	}

	.works_item-name{
		top: 200px;
	}
	.popup-image {
		width: 50vh;
		height: auto;

	}
}

@media (min-width: 760px){
	.header_menu > ul {
		display: block ;
	}
}